body {
    background-color: orange;
}

.Title {
    position: absolute;
    left: 47%;
    top: 4%;
    font-size: 28px;
    font-family: "Segoe UI Historic";
    font-weight: bold;
}

.addTask {
    position: absolute;
    left: 57%;
    top: 20%;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    font-family: "Segoe UI Historic";
    font-weight: bold;
    text-align: center;
}

.input {
    position: absolute;
    left: 40%;
    top: 20%;
    width: 300px;
    height: 25px;
    border-radius: 10px;
}

li {
    list-style-type: none;
}

.task {
    font-size: 35px;
}

.actualList {
    position: absolute;
    background-color: white;
    width: 550px;
    top: 30%;
    left: 36%;
    height: 600px;
}

.buttons {

}